services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

  web:
    build:
      context: .
      target: final
    env_file: .env.stage
    extra_hosts:
      - "host.docker.internal:host-gateway"  # allows container to reach host DB
    depends_on:
      - redis
    ports:
      - "8000:8000"
    entrypoint: ["/app/entrypoint.sh"]
    command: ["gunicorn", "config.wsgi:application", "--bind", "0.0.0.0:8000", "--workers=3"]
    restart: unless-stopped
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media

  celery_worker:
    build:
      context: .
      target: final
    env_file: .env.stage
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis
    entrypoint: ["/app/entrypoint.sh"]
    command: ["celery", "-A", "config", "worker", "--loglevel=INFO"]

  celery_beat:
    build:
      context: .
      target: final
    env_file: .env.stage
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis
    entrypoint: ["/app/entrypoint.sh"]
    command: ["celery", "-A", "config", "beat", "--loglevel=INFO"]

  flower:
    build:
      context: .
      target: final
    env_file: .env.stage
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis
    ports:
      - "5555:5555"
    entrypoint: ["/app/entrypoint.sh"]
    command: ["flower", "--broker=${CELERY_BROKER_URL}", "--port=5555"]

volumes:
  redis_data:
  static_volume:
  media_volume:
